<!doctype html>
<html ng-app="ad-serv" >
    <head>
        <title>Ad Server</title>
        <style>
            * { box-sizing: border-box; }
            body { font: 13px Helvetica, Arial; }
            form input { border: 0; padding: 10px; width: 90%; }
            form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
            #messages { list-style-type: none; margin: 0; padding: 0; }
            #messages li { padding: 5px 10px; }
            #messages li:nth-child(odd) { background: #eee; }
            .verticalLine {
                border-right: thin dotted black;
            }

        </style>
    </head >
    <body ng-controller="saveCtrl" >
        <ul id="messages"></ul>
        <nav class="navbar navbar-default">

            <div class="navbar-brand">
                <strong>Easy Way to Notify</strong>
                <small>Beta</small>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"> <a href=""> <strong>Admin</strong><span class="sr-only">(current)</span></a></li>
                

            </ul>

        </nav>
        <center>{{msg}}</center>
        <form  ng-submit="saveNote.submitForm()" class="col-md-3 verticalLine" style="margin-left:90px;">
            <strong >Add/Update Notification</strong>
            <hr/>
            <br/>
        <div class="input-group">
            <input type="text" name="c_domain" class="form-control" placeholder="Client Domain Link">
        </div><br/>

        <div class="input-group">
            <input type="text" name="c_name" ng-model="saveNote.c_name" class="form-control" placeholder="Campaign Name">
            </div><br/>

            <div class="input-group">
                <input type="text" name="c_message" ng-model="saveNote.c_message" class="form-control" placeholder="Campaign Message">
            </div><br/>

        <div class="input-group">
            <input type="number" name="c_dtime" ng-model="saveNote.c_dtime" class="form-control" placeholder="Campaign display time">
            </div><br/>

        <div class="input-group">
            <input type="text" name="c_contact" ng-model="saveNote.c_contact" class="form-control" placeholder="Campaign contact Email Id">
            </div><br/>

      
          
            <a class="btn btn-sm btn-default" href="">Activate</a>
            <br/>
      
        

      <div class="input-group">
            <input type="checkbox" name="c_active" ng-model="saveNote.active" class="form-control" placeholder="Activate">
            </div><br/>
<br/>


            <div class="input-group">
                <input type="submit" class="form-control btn btn-primary" placeholder="Save/Update" value="Save/Update" >
            </div><br/>


        </form>
        <div style="padding-left:50%;" >
        <form class=" form-inline form-group"  > 

               <div class="input-group col-md-5">
                <input type="text" class="form-control " placeholder="You can search here...">
                                </div>
                                <input type="submit" class="form-control btn btn-primary" placeholder="Search" value="Search" >

            </form>
        </div>
        <center>



            <div class="col-md-5">
            <table class="table table-bordered table-hover table-condensed" >
                <thead><th>Campaign Name</th><th>Client Domain</th><th>Campaign Message</th><th>Campaign Contact</th><th>Campaign Delay Time</th>
                   <th>Client Id</th>
                    <th></th><th></th>
                </thead>
        <tbody>
        
        <tr><td>Airtel</td><td>http://www.airtel.com</td><td>Airtel test ad Message</td><td>airtel@airtel.com</td><td>4 Seconds</td>
           <td>Ox19dregommjfdg</td> <td><a class="btn btn-sm btn-default" href="">Edit</a></td><td><a class="btn btn-sm btn-primary" href="">Activate</a></td></tr>
            
             <tr class="info" ><td>Vodafone</td><td>http://www.vodafone.com/recharge</td><td>Vodafone test ad Message</td><td>vodafone@vodafone.com</td><td>4 Seconds</td><td>Ox19dnnhiesdersa</td>
            <td><a class="btn btn-sm btn-default" href="">Edit</a></td><td><a class="btn btn-sm btn-warning" href="">De-activate</a></td></tr>
        

        </tbody>
    </table>
        </div>
        </center>



        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
         <script src="http://localhost:3001/clientUI/app/js/mainController.js"></script>





    </body>
</html>
